.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  transition: all 0.2s;
  padding: 2rem;
}
.pat {
  /* background-color: #f5fcff; */
  background-color: rgba(29, 51, 110, 0.2);
  -webkit-box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
}
.pat:hover {
  transform: translateY(-1.2rem);
  -webkit-box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
}

.card_title {
  font-size: 2.4rem;
}

.card_list {
  margin-left: 1.4rem;
}
.card_list_exam .list_item {
  display: flex;
}

.card_icon {
  height: 3rem;
  width: 3rem;
  fill: rgb(73, 118, 241);
}
.card_list {
  font-size: 1.6rem;
}

.card_list_exam {
  list-style: none;
}

.card_img {
  width: 4.2rem;
}
